spring:
  application:
    name: Starter-Template
  datasource:
    url: jdbc:postgresql://localhost:5432/${"DB_NAME"}}
    username: ${"DB_USERNAME"}
    password: ${"DB_PASSWORD"}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
kafka:
  bootstrap-servers: localhost:9092

secret-key: ${"JWT_SECRET_KEY"}
